<!DOCTYPE html>
<html>
  <head>
    <title>Power Ballads</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Power Ballads</h1>
    <p>Full Stack Javascript</p>
  </body>
</html>